
.home{
    color: blanchedalmond;

}
.titulo{
    font-size:70px ;
    font-family: 'Courier New', Courier, monospace;
    color: blanchedalmond;
    text-align: center;
    margin-top:  100px;
    margin-bottom:  100px;
}
.buttons{
    text-align: center;
    margin-top: 10px;
}
.botao{
    display: inline-block;
    text-align: center;
    margin-right: 70px;
    margin-left: 70px;
    width: 280px;
    height: 80px;
}
.botaoText{
    color: blanchedalmond;
}
.botaoText:hover{
    color:blanchedalmond ; 
    text-decoration:none; 
}
.botaoComments{
    text-align: center;
    margin-right: 70px;
    width: 130px;
    height: 50px;
}

body{
    background-color:MediumSlateBlue;
}



*  {
    margin:0;
    padding:0;
}

html, body {height:100%;}

.geral {
    min-height:100%;
    position:relative;
    width:800px;
}

.footer {
    color: blanchedalmond;
    background-color: #343a40;
    position:absolute;
    bottom:0;
    width:100%;
}

.content {overflow:hidden;}
.aside {width:200px;}
.fleft {float:left;}
.fright {float:right;}


.tituloUsers{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: blanchedalmond;
    margin-bottom: 30px;
    margin-top: 30px;
}
.tituloPosts{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: blanchedalmond;
    margin-bottom: 30px;
    margin-top: 30px;
}
.tituloUsuario{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: blanchedalmond;
    margin-bottom: 30px;
}
.detalhesUsuario{    
    color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
}
.tituloComments{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: blanchedalmond;
    margin-bottom: 30px;
}
.contentComments{
    font-family: 'Courier New', Courier, monospace;
    color: blanchedalmond;
}
.List{
    display: inline-block;
    align-content: center;
    text-align: center;
    width: 470px;
}

.arrowBack{
    color: blanchedalmond ;
}
.arrowBack:hover 
{
     color:blanchedalmond ; 
     text-decoration:none; 
     
}


.modalBody{
    background-color: #343a40;
}
.modalHeader{
    color: blanchedalmond;
    background-color: MediumSlateBlue;
}
.modalFooter{
    background-color: MediumSlateBlue;
}